@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto+Slab:wght@500;600;700&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

/* styling the hero section for the header */
.hero h1 {
  font-family: "Kenia", sans-serif;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 900;
}

.hero {
  background-image: url("/src/assets/backgroundCute.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.125rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: rgb(14, 14, 13);
}

.return-btn {
  display: inline-block;
  width: 15%;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  font-size: 1.255rem;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  border: 1px black;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  background-color: #ffc436;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  outline: none;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0.5, 0, 0, 0.8);
}

.return-btn:hover {
  color: white;
  background-color: #ffc436;
  box-shadow: 0 4px 6px rgba(0.5, 0, 0, 0.8);
  transition: all 0.2s ease-in-out;
  outline: none;
  text-decoration: none;
  transform: translateY(-2px);
}

/* styling the card container  */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.card {
  width: 100%;
  height: auto;
  border: 1px solid #8a8080;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0.5, 0, 0, 0.8);
  background-color: #ffc436;
}

.card-image {
  width: 400%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid;
  box-shadow: 0 4px 6px rgba(0.5, 0, 0, 0.8);
}

.card-title {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.card-text {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-top: 35px;
}

/* styling the details h1 and p tags */

.details h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  background-color: #ffc436;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0.9, 0.7, 0.8, 0.8);
  text-transform: uppercase;
}

.details p {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px;
  border: 1px;
  background-color: #ffc436;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0.9, 0.7, 0.8, 0.8);
}

.showcase {
  font-family: "Montserrat", sans-serif;
  color: #926239;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0.5, 0, 0, 0.8);
  height: 100vh;
  width: 100%;
}
.showcase img {
  width: 20%;
  height: 30%;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0.5, 0, 0, 0.8);
  margin-top: 20px;
  margin-bottom: 20px;
}

.showcase h1 {
  font-size: 50px;
  font-weight: 700;
}

.showcase p {
  font-size: 18px;
  font-weight: 500;
}

.w-btn {
  font-size: 15px;
  font-weight: 600;
  color: #926239;
  padding: 10px 20px;
  border-radius: 10px;
  border: #926239 1px solid;
  margin-top: 20px;
}

.w-btn:hover {
  color: #918982;
  background-color: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  box-shadow: 0 4px 6px rgba(0.5, 0, 0, 0.8);
  transition: all 0.2s ease-in-out;
  outline: none;
  text-decoration: none;
  transform: translateY(-2px);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Test Styling for the ingredients list */
.details ul {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px 20px 20px 30px;
  border: 1px;
  background-color: #ffc436;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0.9, 0.7, 0.8, 0.8);
  text-align: left;
}
.details li {
  list-style-type: square;
}